@page
@model AsparageTours.Pages.createaccountModel
@{
    ViewData["Title"] = "createaccount";
}

<div class="container">
    <a asp-page="/map">
        <img class="demopic" src="~/img/layout.jpg" alt="Create Account Image">
    </a>
</div>