@page
@model AsparageTours.Pages.createaccountModel
@{ ViewData["Title"] = "welcome"; }

<div class="container">
    <a asp-page="/Map">
        <img class="demopic" src="~/img/Account.jpg" alt="Welcome Page Image">
    </a>
</div>