@page
@model AsparageTours.Pages.End_of_TourModel
@{
    ViewData["Title"] = "End of Tour";
}

<a asp-page="/Share_Page">
    <img class="demopic" src="~/img/end_of_tour.jpg" alt="Map Page Image">
</a>