@page
@model AsparageTours.Pages.Gym_Content_PageModel
@{
    ViewData["Title"] = "Gym_Content_Page";
}

<a asp-page="/gym_favorite">
    <img class="demopic" src="~/img/gym_content.jpg" alt="Gym Content Image">
</a>
