@page
@model AsparageTours.Pages.gym_favoriteModel
@{
    ViewData["Title"] = "gym_favorite";
}

<a asp-page="/Koenig_Content_Page">
    <img class="demopic" src="~/img/gym_favorite.jpg" alt="Map Page Image">
</a>