@page
@model AsparageTours.Pages.Gym_Content_PageModel
@{
    ViewData["Title"] = "Gym_Content_Page";
}

<a asp-page="/Koenig_Content_Page">
    <img class="demopic" src="~/img/gym_content.jpg" alt="Map Page Image">
</a>
