@page
@model IndexModel
@{
    ViewData["Title"] = "Asparagetti's Tour Page";
}

    <div class="text-center">
        <p>Asparagetti's Tour Page</p>
        <p>Thomas Bakken, Andrew Messner, Andrew Pfund</p>
        <p>CPSC 5051</p>

        <h2 class="display-4">
            <a href="/Welcome">Launch Demo</a>
        </h2>
    </div>

<!--
    <div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
        </div>
    }
</div>
-->