@page
@model IndexModel
@{
    ViewData["Title"] = "Asparagetti's Tour Page";
}

<div class="text-center">
    <h1 class="display-4">Asparagetti's Tour Page</h1>
    <h2 class="display-4">Thomas Bakken, Andrew Messner, Andrew Pfund</h2>
    <h2 class="display-4">Spring 2020</h2>
</div>

<div>
    <a href="/Welcome">Start Demo</a>
</div>


<!--
    <div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
        </div>
    }
</div>
-->