@page
@model AsparageTours.Pages.Koenig_Content_PageModel
@{
    ViewData["Title"] = "Koenig_Content_Page";
}

<a asp-page="/Map4">
    <img class="demopic" src="~/img/Map.jpg" alt="Map Page Image">
</a>
