@page
@model AsparageTours.Pages.Library_Content_PageModel
@{
    ViewData["Title"] = "Library Content";
}


<a asp-page="/End_of_Tour">
    <img class="demopic" src="~/img/Map.jpg" alt="Map Page Image">
</a>
