@page
@model AsparageTours.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

//Clicking on page sends user to next page, content_pop-up
<a asp-page="/Content_Pop-Up">
    <img class="demopic" src="~/img/Map.jpg" alt="Map Page Image">
</a>
