@page
@model AsparageTours.Pages.share_page_emptyModel
@{
    ViewData["Title"] = "share_page_empty";
}

<a asp-page="/Account">
    <img class="demopic" src="~/img/share_page_empty.jpg" alt="share_page_empty Image">
</a>