@page
@model AsparageTours.Pages.Student_Center_Content_PageModel
@{
    ViewData["Title"] = "Student_Center_Content_PageModel";
}


<a asp-page="/Map3">
    <img class="demopic" src="~/img/content_pop-up.jpg" alt="Map Page Image">
</a>
