@page
@model AsparageTours.Pages.WelcomeModel
@{ ViewData["Title"] = "welcome"; }

<div class="container">
    <a asp-page="/createaccount">
        <img class="demopic" src="~/img/layout.jpg" alt="Welcome Page Image">
    </a>
</div>